name: tasky
description: A Gen Z friendly task management Flutter app for teams
publish_to: "none"
version: 1.0.0+1
environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  http: ^1.2.2
  provider: ^6.1.2
  shared_preferences: ^2.3.2
  intl: ^0.19.0
  google_fonts: ^6.2.1
  flutter_slidable: ^3.1.0
  percent_indicator: ^4.2.3
  table_calendar: ^3.1.2
  image_picker: ^1.0.7
  http_parser: ^4.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/icons/
